
/* https://www.visitfresnocounty.org/blog/post/best-pumpkin-patches-in-fresno-county/ */


.card-area{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.card{
    height:250px;
    width:800px;
    background-color:wheat;
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:13px;
}
.Left{
    min-height:245px;
    width:278px;
    border:black solid 3px;
}

.Right {
    min-height:245px;
    width:552px;
    border:black solid 3px;
}
.top{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.34);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    color:white;
}
.bottom{
height:58px;
    text-align:center;
    background-color:mediumpurple;
}
.up{
    width:552px;
    height:83px;
    border-bottom:black solid 3px;
    text-align:center;
    background-color:orangered;
    font-family:serif;
}
.middle{
width:552px;
    height:83px;
    border-bottom:black solid 3px;
    text-align:center;
    background-color:darkorange;
    font-family:sans-serif;
}
.down{
width:552px;
    height:73px;
    text-align:center;
    background-color:yellow;
    font-family:monospace;
}
.image{
    border-bottom:black solid 3px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}
h1{
    text-align:center;
}